In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('data/도로명코드.csv', names=['도로명코드','도로명','도로명 로마자','읍면동일련번호','시도명','시도명 로마자','시군구명','시군구명 로마자','읍면동명','읍면동명 로마자','읍면동구분','읍면동코드','사용여부'], header=None, index_col=0)
df

,도로명,도로명 로마자,읍면동일련번호,시도명,시도명 로마자,시군구명,시군구명 로마자,읍면동명,읍면동명 로마자,읍면동구분,읍면동코드,사용여부
도로명코드,,,,,,,,,,,,
111102005001,세종대로,Sejong-daero,0,서울특별시,Seoul,종로구,Jongno-gu,NaN,NaN,2,NaN,0
111102005001,세종대로,Sejong-daero,1,서울특별시,Seoul,종로구,Jongno-gu,세종로,Sejongno,1,119.0,0
111102005001,세종대로,Sejong-daero,2,서울특별시,Seoul,종로구,Jongno-gu,종로1가,Jongno 1(il)-ga,1,126.0,0
111102100001,삼일대로,Samil-daero,0,서울특별시,Seoul,종로구,Jongno-gu,NaN,NaN,2,NaN,0
111102100001,삼일대로,Samil-daero,1,서울특별시,Seoul,종로구,Jongno-gu,운니동,Unni-dong,1,132.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
501304857888,상천1길,Sangcheon 1-gil,1,제주특별자치도,Jeju-do,서귀포시,Seogwipo-si,안덕면,Andeok-myeon,0,310.0,0
501304857897,풍천로38번길,Pungcheon-ro 38beon-gil,0,제주특별자치도,Jeju-do,서귀포시,Seogwipo-si,NaN,NaN,2,NaN,0
501304857897,풍천로38번길,Pungcheon-ro 38beon-gil,1,제주특별자치도,Jeju-do,서귀포시,Seogwipo-si,성산읍,Seongsan-eup,0,259.0,0
501304857899,태흥샘못길,Taeheungsaemmot-gil,0,제주특별자치도,Jeju-do,서귀포시,Seogwipo-si,NaN,NaN,2,NaN,0
501304857899,태흥샘못길,Taeheungsaemmot-gil,1,제주특별자치도,Jeju-do,서귀포시,Seogwipo-si,남원읍,Namwon-eup,0,253.0,0

In [3]:
df = df.iloc[:, [0,2,3]]
df

                  도로명  읍면동일련번호      시도명
도로명코드
111102005001     세종대로        0    서울특별시
111102005001     세종대로        1    서울특별시
111102005001     세종대로        2    서울특별시
111102100001     삼일대로        0    서울특별시
111102100001     삼일대로        1    서울특별시
...               ...      ...      ...
501304857888     상천1길        1  제주특별자치도
501304857897  풍천로38번길        0  제주특별자치도
501304857897  풍천로38번길        1  제주특별자치도
501304857899    태흥샘못길        0  제주특별자치도
501304857899    태흥샘못길        1  제주특별자치도

[359358 rows x 3 columns]

In [4]:
boolean = df['시도명'] == '서울특별시'
df = df.loc[boolean]
df

                 도로명  읍면동일련번호    시도명
도로명코드
111102005001    세종대로        0  서울특별시
111102005001    세종대로        1  서울특별시
111102005001    세종대로        2  서울특별시
111102100001    삼일대로        0  서울특별시
111102100001    삼일대로        1  서울특별시
...              ...      ...    ...
117404172445  상일로10길        0  서울특별시
117404172445  상일로10길        1  서울특별시
117404172446  상일로12길        0  서울특별시
117404172446  상일로12길        1  서울특별시
117404172446  상일로12길        2  서울특별시

[31193 rows x 3 columns]

In [5]:
df['아이디'] = 'ssongda9412'
df['입력일자'] = datetime.today().strftime("%Y%m%d%H%M%S")

<ipython-input-5-2ec8170f694e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['아이디'] = 'ssongda9412'
<ipython-input-5-2ec8170f694e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['입력일자'] = datetime.today().strftime("%Y%m%d%H%M%S")

In [6]:
df

                 도로명  읍면동일련번호    시도명          아이디            입력일자
도로명코드
111102005001    세종대로        0  서울특별시  ssongda9412  20200316180203
111102005001    세종대로        1  서울특별시  ssongda9412  20200316180203
111102005001    세종대로        2  서울특별시  ssongda9412  20200316180203
111102100001    삼일대로        0  서울특별시  ssongda9412  20200316180203
111102100001    삼일대로        1  서울특별시  ssongda9412  20200316180203
...              ...      ...    ...          ...             ...
117404172445  상일로10길        0  서울특별시  ssongda9412  20200316180203
117404172445  상일로10길        1  서울특별시  ssongda9412  20200316180203
117404172446  상일로12길        0  서울특별시  ssongda9412  20200316180203
117404172446  상일로12길        1  서울특별시  ssongda9412  20200316180203
117404172446  상일로12길        2  서울특별시  ssongda9412  20200316180203

[31193 rows x 5 columns]

In [8]:
df.to_csv("data/addr.csv", mode='a')